<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<!-- <html xmlns:wb="http://open.weibo.com/wb" manifest="index.appcache"> -->
<!-- 微博登录接口命名空间 -->
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="wb:webmaster" content="673bbf8e6a8144eb" />
    <!-- 微博登录接口sdk引用 -->
		<!--<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1963516189&debug=true" type="text/javascript" charset="utf-8"></script>-->
    <!-- qq互联登录接口sdk引用 , 暂时使用demo页的appid-->
		<!--<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="100229030" charset="utf-8"></script>-->
    <!-- Your app title -->
    <title>公共课手机版</title>
    <!-- 引入framework7样式文件-->
    <link rel="stylesheet" href="lib/framework7/css/framework7.ios.min.css">
    <link rel="stylesheet" href="lib/framework7/css/framework7.ios.colors.min.css">
    <!-- 首页引导 -->
    <link rel="stylesheet" href="lib/framework7/css/welcomescreen.css">
    <!-- 样式文件-->
    <link rel="stylesheet" href="css/my-app.css">
    <!-- 引入template7模板引擎 -->
    <script type="text/javascript" src="lib/framework7/js/template7.min.js"></script>
    <!-- 模板数据文件 -->
    <script type="text/javascript" src="js/t7-context.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
  </head>
  <body>
		<% if(user == -1) { %>
			<style id='temp-style'>.welcome-overlay{background:#ccc;}</style>
			<div class="modal modal-no-buttons modal-preloader modal-in" style="display: block; margin-top: -50px;"><div class="modal-inner"><div class="modal-title">加载中...</div><div class="modal-text"><div class="preloader"></div></div></div><div class="modal-buttons "></div></div><div class="modal-overlay modal-overlay-visible welcome-overlay"></div>
		<% } %>
		<input type='hidden' id='infomation' value='<%= infomation %>'>
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
		<!-- Panels overlay-->
		<div class="panel-overlay"></div>
		<!-- 左侧面板 -->
		<div class="panel panel-left panel-reveal view">
			<div class="pages">
				<div class="page" data-page="panel-left">
          <div class="navbar">
            <a href="#" class="personalInfo close-panel" style="color: #fff;">
							<div><img src="<%= headimg %>" id="headimg_main"></div>
              <div class="content">
								<div class="nickName"><%= user %></div>
								<div class="email"><%= email %></div>
              </div>
              <i class="icon icon-form-come"></i>
            </a>
          </div>
          <div class="page-content">
            <div class="row theme-red">
              <div class="col-33">
                <i class="f7-icons size-40">book</i>
                <br>评论
              </div>
              <div class="col-33">
                <i class="f7-icons size-40">bookmark</i>
                <br>收藏
              </div>
              <div class="col-33">
                <i class="f7-icons size-40">chat</i>
                <br>信息
              </div>
            </div>
            <div class="list-block" id="menuList">
              {{#each menuList}}
              <a href="#" class="item-link close-panel {{this.className}}">
                <div class="item-content">
                  <div class="item-media"><i class="f7-icons size-29">{{this.iconName}}</i></div>
                  <div class="item-inner"><div class="item-title">{{this.name}}</div></div>
                </div>
              </a>
              {{/each}}
              <div class="item-content moon">
                <div class="item-media"><i class="icon icon-form-moon"></i></div>
                <div class="item-inner">
                  <div class="item-title">夜间模式</div>
                  <div class="item-after">
                    <label class="label-switch">
                      <input type="checkbox" id="moodCheck">
                      <div class="checkbox"></div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
    <!-- Views -->
    <div class="views tabs navbar-through toolbar-through">
			<!-- Tab 1 - View 1 -->
      <div class="view-main"></div>
  		<div id="tab1" class="view tab active maintab">
        <!-- 导航栏navbar -->
        <div class="navbar indexNav">
          <div class="navbar-inner">
            <div class="left">
            <a href="#" class="link open-panel sliding">
              <i class="f7-icons size-22">info</i>
              <span>主页</span>
            </a>
            </div>
            <div class="center sliding navbarTitle">首页</div>
            <div class="right">
            <a href="#" class="link sliding" id="scan">
              <span>扫一扫</span>
              <i class="f7-icons size-22">camera</i>
            </a>
            </div>
          </div>
        </div>
  	    <div class="pages navbar-fixed">
  	      <div data-page="home-1" class="page appMainPage">
  	        <div class="page-content">
  	        	<!-- 轮播图 -->
  	          <div class="swiper-container lb1" id="lunbo">
								<div class="swiper-pagination"></div>
								<div class="swiper-wrapper">
									<% hotcourse.forEach(function(course){ %>
										<div class="swiper-slide"><img src="<%= course.courseimgbig %>" teacher="<%= course.teacher %>" coursename="<%= course.coursename %>" class="get_course"></div>
									<% }) %>
								</div>
							</div>
              <!-- 轮播图下面的图片 -->
              <div class="indexImage">
                <a href="##">
                  <img src="images/hk.jpg">
                  <p>
                    <b>超多课程等你学</b>
                    <br>
                    <a href="#tab4" onclick="$('.toolbarTab2').addClass('active')" class="tab-link button button-big button-round button-raised color-yellow">立即学习</a>
                  </p>
                </a>
              </div>
              <div class="gameRecommend">
                <b>教师推荐</b>
                <c>TEACHER RECOMMEND</c>
                <div class="row no-gutter">
									<% hotcourse.forEach(function(course){ %>
										<div class="col-25"><img src="<%= course.teacherimg %>" style="border-radius: 50%;"></div>
									<% }) %>
									<!--<div class="col-33"><a href="html/appdown.html"><img src="images/11.jpg" style="border-radius: 50%;"></a></div>-->
                  <!--<div class="col-33"><a href="html/appdown.html"><img src="images/22.jpg" style="border-radius: 50%;"></a></div>-->
                  <!--<div class="col-33"><a href="html/appdown.html"><img src="images/33.jpg" style="border-radius: 50%;"></a></div>-->
                </div>
              </div>
              <div class="gameNews">
                <b>最新公告</b>
                <c>NEWS</c>
                <div class="list-block" id="news">
                  <ul>
										<% hotnews.forEach(function(news){ var pubt = new Date(news.pubtime); %>
										<li><a href="" class="item-link item-content get_news" title="<%= news.title %>" pubtime="<%= pubt.getFullYear()+'-'+(pubt.getMonth()+1)+'-'+pubt.getDate() %>"><span class="item-inner"><span class="item-title"><%= news.title %></span><span class="item-after"><%= pubt.getFullYear()+'-'+(pubt.getMonth()+1)+'-'+pubt.getDate() %></span></span></a></li>
										<% }) %>
                  </ul>
										<div class='row'>
											<div class="col-33"><a class='button button-round prev-page'>上一页</a></div>
											<div class="col-33"><span class="news-page">1</span></div>
											<div class="col-33"><a class='button button-round next-page'>下一页</a></div>
										</div>
                </div>
              </div>
              <footer>
              </footer>
  	        </div>
  	      </div>
  	    </div>
  	  </div>
  	  <!-- Tab 2 - View 2 -->
  	  <div id="tab2" class="view tab maintab">
        <!-- 导航栏navbar -->
        <div class="navbar indexNav">
          <div class="navbar-inner">
            <div class="left">
            <a href="#" class="link open-panel sliding">
            </a>
            </div>
            <div class="center sliding navbarTitle">关于</div>
            <div class="right">
            <a href="#" class="link sliding open-panel" data-panel="right">
            </a>
            </div>
          </div>
        </div>
  	    <div class="pages navbar-fixed">
  	      <div data-page="home-2" class="page appMainPage">
  	        <div class="page-content siteabout">
									<h1 class="about-title">关于项目</h1>
									<h2>项目地址：</h2>
									<div class="content-block"><a href="https://github.com/zhenxianluo/nsf7app">https://github.com/zhenxianluo/nsf7app</a></div>
									<h2>项目介绍：</h2>
									<div class="content-block">
										<p>　　本项目ｕｉ界面及整体框架由去年开始制作，于今年5月开始搭建服务器，打通前后端，可通过cordova打包成安卓app,但会出现图标显示不出来问题，如有兴趣可以共同开发push代码到本git仓库.</p>
										<p>　　本网站主要定位于共享学习，功能主题为提供优质的课程资源，感谢<a href="http://jhc.zhiye.chaoxing.com/portal">http://jhc.zhiye.chaoxing.com/portal</a>提供数据支持！</p>
									</div>
									<h1 class="about-title">相关技术</h1>
									<div class="content-block">
									<p>服务器：Node.js + Express</p>
									<p>数据库：PostgreSQL</p>
									<p>数据获取：Python + Scrapy</p>
									<p>前端框架：framework7</p>
									<p>前后端交互：jQuery + Ajax</p>
									</div>
									<h1 class="about-title">关于作者</h1>
									<h2>关于作者：</h2>
									<div class="content-block"><p>英文名: `Rnet-Ao`, 简称 `Rnet`, 发音 <strong>`/rən't/`</strong></p></div>
									<h2>博客地址：</h2>
									<div class="content-block"><a href="http://howduudu.xyz/">http://howduudu.xyz/</a></div>
									<h2>联系邮箱：</h2>
									<div class="content-block"><a href="mailto:zxl_d@foxmail.com">zxl_d@foxmail.com</a></div>
									<h1 class="about-title">项目本地化</h1>
									<ol class="about-step" style="word-wrap: break-word;">
										<li class="content-block">假设已经安装nodejs、pgsql、python环境.还有git用于版本控制.</li>
										<li class="content-block">克隆项目到本地：<code>git clone https://github.com/zhenxianluo/nsf7app.git</code></li>
										<li class="content-block">进入项目目录：cd nsf7app</li>
										<li class="content-block">安装nodejs和scrapy的依赖：npm install & pip install -r requirement.txt</li>
										<li class="content-block">启动pgsql：sudo /etc/init.d/postgresql start</li>
										<li class="content-block">自行配置pgsql并创建deploy用户，用于项目部署用，然后新建数据库：design,其中siteuser存用户数据，course存课程信息</li>
										<li class="content-block">创建siteuser表：psql -U deploy -t design -f ./edu_design/create_db/createdb.sql</li>
										<li class="content-block">创建course表：psql -U deploy -t design -f ./edu_design/create_db/createdb_spider</li>
										<li class="content-block">启动爬虫爬课程数据进数据库：scrapy crawl course</li>
										<li class="content-block">启动服务器：npm start</li>
										<li class="content-block">监听网址：127.0.0.1:3000</li>
									</ol>
						</div>
  	      </div>
  	    </div>
  	  </div>
  	  <!-- Tab 3 - View 3 -->
  	  <div id="tab3" class="view tab maintab">
        <!-- 导航栏navbar -->
        <div class="navbar indexNav">
          <div class="navbar-inner">
            <div class="left">
            <a href="#" class="link open-panel sliding">
            </a>
            </div>
            <div class="center sliding navbarTitle">和机器人热聊中</div>
            <div class="right">
            <a href="#" class="link sliding open-panel" data-panel="right">
            </a>
            </div>
          </div>
        </div>
  	    <div class="pages navbar-fixed">
  	      <div data-page="home-3" class="page toolbar-fixed appMainPage">
            <div class="toolbar messagebar">
              <div class="toolbar-inner">
                <i class="f7-icons size-29 messagebarPlus">graph_square<input type="file" accept="image/*;capture=camera" multiple id="fileEle"></i>
                <textarea wrap="physical" placeholder="信息内容" class="toolbarText"></textarea>
                <a href="#" class="link messageSend">发送</a>
              </div>
            </div>
  	        <div class="page-content messages-content">
                <div class="messages-date"><span>可以调戏她，也可以让她给你找图片、找航班</span></div>
                <div class='message message-with-avatar message-received'>
                  <div class='message-name'>Rent-ao</div>
                  <div style='background-image:url(images/robot.png);top:30px;' class='message-avatar'></div>
                  <div class='message-text'>
                    感恩有你，获取我<a href="#">主人</a>的个人信息
                  </div>
                </div>
  	        </div>
  	      </div>
  	    </div>
  	  </div>
  	  <!-- Tab 4 - View 4 -->
  	  <div id="tab4" class="view tab maintab">
        <!-- 导航栏navbar -->
        <div class="navbar indexNav">
          <div class="navbar-inner">
            <div class="left">
            <a href="#" class="link open-panel sliding">
              <i class="f7-icons size-22">info</i>
              <span>主页</span>
            </a>
            </div>
            <div class="center sliding navbarTitle">课程广场</div>
            <div class="right">
            <a href="#" class="link sliding open-panel" data-panel="right">
              <i class="icon icon-bars"></i>
              <span>菜单</span>
            </a>
            </div>
          </div>
        </div>
  	    <div class="pages navbar-fixed">
          <div data-page="home-4" class="page appMainPage">
            <div class="page-content">
              <!-- 轮播图 -->
              <div class="swiper-container lb2">
                <!-- <div class="swiper-pagination"></div> -->
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="http://usr.im/750x216?text=好好学习">
                  </div>
                  <div class="swiper-slide">
                    <img src="http://usr.im/750x216?text=好好学习">
                  </div>
                  <div class="swiper-slide">
                    <img src="http://usr.im/750x216?text=好好学习">
                  </div>
                </div>
              </div>
              <div id="course">
                {{#each course}}
                <div class="live" >
                  <div class="live-title">
                    <h3>{{title}}</h3>
										<a class="get_course_all" coursetype='{{title}}'>MORE</a>
                  </div>
                  <div class="row">
                    {{#each this.courseStatus}}
                    <div class="col-50 live-link">
											<img src="{{src}}" teacher="{{teacher}}" coursename="{{name}}" class="get_course">
                      <span>{{status}}</span>
                      <div class="live-info">
                        <span>{{name}}</span>
                        <em>{{teacher}}</em>
                      </div>
                    </div>
                    {{/each}}
                  </div>
                </div>
                {{/each}}
              </div>
              <footer>
              </footer>
            </div>
          </div>
        </div>
  	  </div>
      <!-- 工具栏toolbar -->
      <div class="toolbar tabbar tabbar-labels indexTool">
    		<div class="toolbar-inner">
    			<a href="#tab1" class="tab-link active toolbarTab1">
						<i class="f7-icons size-29">home</i>
						<span class="tabbar-label">首页</span>
    			</a>
    			<a href="#tab4" class="tab-link toolbarTab2">
						<i class="f7-icons size-29">videocam</i>
						<span class="tabbar-label">课程</span>
    			</a>
    			<a href="#tab3" class="tab-link toolbarTab3">
						<i class="f7-icons size-29">eye</i>
						<span class="tabbar-label">发现</span>
    			</a>
    			<a href="#tab2" class="tab-link toolbarTab4">
						<i class="f7-icons size-29">drawers</i>
						<span class="tabbar-label">关于</span>
    			</a>
    		</div>
    	</div>
    </div>
		<% if(user == -1) { %>
      <!-- 注册页 -->
    <div class="popup-register">
      <div class="register-screen popup">
        <div class="login-screen-content" style="padding: 0;">
          <div class="login-screen-title">用户注册</div>
          <form action="">
            <div class="list-block" id="register">
              <ul>
                {{#each register}}
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">{{this.title}}</div> 
                    <div class="item-input">{{this.input}}</div>
                  </div>
                </li>
                {{/each}}
              </ul>
            </div>
            <div class="list-block">
              <p style="width: 80%;margin:0 auto;"><a href="#" class="button button-big button-fill color-green register-btn">注册</a></p>
              <div class="list-block-label">
                <p><input type="checkbox" id='agree' checked>我已阅读并同意相关<a href="#" data-picker=".picker-info" class="open-picker">服务条款和隐私政策</a></p>
                <p><a href="#" class="close-popup">已有账号？立即登录</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- 服务条款的确认 -->
    <div class="issues-info">
      <div class="picker-modal picker-info" style="max-height: 85%;height: auto;">
        <div class="toolbar">
          <div class="toolbar-inner">
            <div class="left"></div>
            <div class="right"><a href="#" class="close-picker">确定</a></div>
          </div>
        </div>
        <div class="picker-modal-inner">
          <div class="content-block" style="margin:10px 0;">
            <h3>登录注册用户服务条款</h3>
            <p style="font-size: 0.8rem;">全栈开发就是这么简单</p>
            <p style="font-size: 0.8rem;">励志名言：</p>
            <div class="row no-gutter" style="font-size: 1rem;">
              <div class="col-25"><a href="#issues1" class="button tab-link active">No.1</a></div>
              <div class="col-25"><a href="#issues2" class="button tab-link">No.2</a></div>
              <div class="col-25"><a href="#issues3" class="button tab-link">No.3</a></div>
              <div class="col-25"><a href="#issues4" class="button tab-link">No.4</a></div>
            </div>
            <div class="tabs">
              <div id="issues1" class="tab active">
                  <p>Web倒是可以给梦想者一个启示，你能够拥有梦想，而且梦想能够实现，网络是离你梦想最近的地方!</p>
              </div>
              <div id="issues2" class="tab">
                  <p>机遇和机会不会选择一个把随波逐流当成理所当然的人。</p>
              </div>
              <div id="issues3" class="tab">
                  <p>通往电脑的路不止一条，所有的信息都应该是免费的，打破电脑特权，在电脑上创造艺术和美，计算机将使生活更美好。</p>
              </div>
              <div id="issues4" class="tab">
                  <p>电脑与他的灵魂之间似乎有一条脐带相连。这就是为什么只要他在计算机面前，他就会成为巨人的原因!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
		<% } %>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="lib/framework7/js/framework7.min.js"></script>
    <!-- 首页引导 -->
    <script type="text/javascript" src="lib/framework7/js/welcomescreen.js"></script>
    <!-- 微信jssdk
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
     <script type="text/javascript">
  wx.config({
    debug: false,
    appId: '<?php echo $signPackage["appId"];?>',
    timestamp: <?php echo $signPackage["timestamp"];?>,
    nonceStr: '<?php echo $signPackage["nonceStr"];?>',
    signature: '<?php echo $signPackage["signature"];?>',
    jsApiList: [
      // 所有要调用的 API 都要加到这个列表中
      'scanQRCode'
    ]
  });
  wx.ready(function () {
    // 在这里调用 API
    document.querySelector('#scan').onclick = function () {
      wx.scanQRCode({
        needResult: 1,
        success: function (res) {
          alert(JSON.stringify(res));
        }
      });
    };
  });
</script> -->
	<script>
		var myapp = myapp || {}; 
		myapp.init = (function () {
			'use strict';
			var exports = {}; 
			document.addEventListener("DOMContentLoaded", function(event) {
				// Initialize app
				var fw7App = new Framework7();
				var fw7ViewOptions = { 
						dynamicNavbar: true,
						domCache: true,
						precompileTemplates: true,
						animateNavBackIcon: true,
						template7Pages: true,
						template7Data: context
					};  
				var mainView = fw7App.addView('.view-main', fw7ViewOptions);
				var $$ = Framework7.$;
				var ipc = new myapp.appIndex(fw7App, $$);
				<% if(user == -1) { %>
				var welcome = new myapp.welcome(fw7App, $$);
				fw7App.hidePreloader();
				$('#temp-style').remove();
				<% } %>
			}); 
			return exports;
		}());
	</script>
    <!-- 引入与配置代码 -->
    <script type="text/javascript" src="js/appIndex.js"></script>
		<% if(user == -1) { %>
    	<script type="text/javascript" src="js/welcome.js"></script>
		<% } %>
    <!-- <script type="text/javascript" src="js/app.js"></script> -->
  </body>
</html>
